.home-container {
    min-height: 100vh;
}

.login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registro-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-container {
    display: flex;
    min-height: 100vh;
}